<a href="https://colab.research.google.com/github/miju-ahn/GitTest/blob/master/song2vec_melon_v0_71.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
import sys
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [ ]:
from google.colab import drive
drive.mount('/content/drive/' )

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
os.chdir('/content/drive/My Drive/Colab Notebooks/kakaomelon')
print('os.getcwd()=', os.getcwd())

os.getcwd()= /content/drive/My Drive/Colab Notebooks/kakaomelon

In [ ]:
import json
import numpy as np
import pandas as pd

from gensim.models import Word2Vec

In [ ]:
# constant variables
W2V_EMB_SIZE = 100
W2V_WINDOW_SIZE = 5

In [ ]:
train_playlist = pd.read_json('arena_data/train.json', encoding='utf-8')
train_playlist.head()

                                                tags  ...                updt_date
0                                                [락]  ...  2013-12-19 18:36:19.000
1                                           [추억, 회상]  ...  2014-12-02 16:19:42.000
2                                          [까페, 잔잔한]  ...  2017-08-28 07:09:34.000
3  [연말, 눈오는날, 캐럴, 분위기, 따듯한, 크리스마스캐럴, 겨울노래, 크리스마스,...  ...  2019-12-05 15:15:18.000
4                                               [댄스]  ...  2011-10-25 13:54:56.000

[5 rows x 6 columns]

In [ ]:
type(train_playlist.songs[0][1])

int

In [ ]:
#train_playlist=train_playlist.astype({'songs':str})

In [ ]:
#import re

#def StrToList(doc):
#    return [re.sub("[\[\]]", "", re.sub("'", "", t)).strip() for t in doc.split(',')]

#def IntListToStrList(iList):
#    return [str(t) for t in iList]

In [ ]:
train_playlist['songs'] = train_playlist['songs'].apply(lambda x: [str(t) for t in x])
#train_playlist['songs'] = train_playlist['songs'].apply(lambda x: IntListToStrList(x))
#train_playlist['songs'] = train_playlist['songs'].apply(lambda x: StrToList(x))

In [ ]:
train_playlist.songs[0]

['525514',
 '129701',
 '383374',
 '562083',
 '297861',
 '139541',
 '351214',
 '650298',
 '531057',
 '205238',
 '706183',
 '127099',
 '660493',
 '461973',
 '121455',
 '72552',
 '223955',
 '324992',
 '50104']

In [ ]:
%%time
word2vec_model = Word2Vec(train_playlist.songs, min_count=5, size=100, window=5, sg=1, negative=20)

CPU times: user 18min 46s, sys: 1.38 s, total: 18min 47s
Wall time: 9min 50s

In [ ]:
word2vec_model.wv.index2word

['144663',
 '116573',
 '357367',
 '366786',
 '654757',
 '133143',
 '349492',
 '675115',
 '463173',
 '42155',
 '610933',
 '396828',
 '461341',
 '174749',
 '520093',
 '701557',
 '549178',
 '485155',
 '650494',
 '523521',
 '13281',
 '648628',
 '449244',
 '680366',
 '169984',
 '422915',
 '11657',
 '418935',
 '187047',
 '547967',
 '422077',
 '350309',
 '627363',
 '625875',
 '300087',
 '132994',
 '215411',
 '427724',
 '442014',
 '668128',
 '582252',
 '663256',
 '253755',
 '643628',
 '448116',
 '339802',
 '581799',
 '348200',
 '26083',
 '37748',
 '341513',
 '505036',
 '199262',
 '407828',
 '105140',
 '68348',
 '140867',
 '235773',
 '209993',
 '209135',
 '339124',
 '487911',
 '493762',
 '672550',
 '509998',
 '531820',
 '27469',
 '157055',
 '519391',
 '473514',
 '232874',
 '75842',
 '117595',
 '446812',
 '295250',
 '152422',
 '224921',
 '678762',
 '351342',
 '15318',
 '377243',
 '146989',
 '246531',
 '205179',
 '645489',
 '108004',
 '464051',
 '13198',
 '302646',
 '152475',
 '343974',
 '236393',
 '95323',
 '640657',
 '459256',
 '88503',
 '362966',
 '674160',
 '424813',
 '154858',
 '497066',
 '590012',
 '553171',
 '333595',
 '6546',
 '521739',
 '628232',
 '193232',
 '543820',
 '443914',
 '518420',
 '173943',
 '210647',
 '601037',
 '663905',
 '440160',
 '38261',
 '173798',
 '15124',
 '478754',
 '32385',
 '95485',
 '690604',
 '246984',
 '237407',
 '367963',
 '629738',
 '586653',
 '250',
 '245317',
 '64052',
 '281838',
 '358241',
 '704707',
 '626369',
 '191915',
 '118827',
 '580074',
 '455986',
 '67655',
 '413422',
 '624738',
 '195174',
 '166841',
 '76888',
 '140833',
 '668042',
 '376435',
 '267701',
 '477905',
 '177460',
 '1236',
 '13142',
 '516653',
 '90557',
 '610179',
 '153271',
 '613722',
 '651499',
 '199390',
 '326204',
 '232606',
 '368069',
 '213435',
 '75971',
 '588471',
 '19533',
 '33829',
 '689661',
 '298103',
 '243850',
 '28832',
 '482903',
 '457124',
 '207558',
 '22845',
 '554751',
 '528278',
 '455668',
 '194117',
 '600802',
 '41912',
 '698536',
 '98472',
 '549392',
 '24087',
 '298962',
 '664036',
 '646941',
 '362903',
 '141248',
 '322491',
 '460823',
 '407082',
 '133484',
 '59003',
 '130199',
 '317362',
 '322721',
 '555338',
 '508608',
 '579592',
 '65622',
 '207232',
 '543371',
 '109574',
 '454218',
 '118049',
 '616038',
 '686809',
 '77951',
 '51612',
 '440848',
 '339118',
 '389920',
 '19811',
 '532114',
 '573179',
 '374617',
 '699874',
 '318871',
 '705098',
 '118788',
 '222305',
 '695032',
 '559607',
 '703096',
 '132247',
 '696494',
 '170317',
 '183949',
 '216696',
 '170279',
 '331055',
 '260220',
 '486705',
 '459165',
 '456740',
 '334539',
 '274504',
 '581789',
 '454528',
 '498752',
 '200098',
 '594592',
 '486938',
 '318762',
 '231659',
 '8719',
 '351888',
 '453055',
 '279532',
 '612516',
 '589983',
 '635537',
 '669557',
 '542441',
 '413837',
 '169945',
 '174225',
 '557120',
 '585216',
 '41328',
 '173686',
 '705515',
 '238794',
 '387859',
 '140920',
 '7070',
 '275414',
 '529965',
 '695494',
 '113958',
 '119974',
 '698250',
 '381874',
 '81213',
 '564336',
 '32120',
 '144632',
 '567650',
 '293236',
 '188349',
 '122363',
 '107220',
 '576186',
 '505710',
 '704752',
 '112399',
 '542127',
 '222920',
 '263588',
 '427256',
 '112282',
 '450661',
 '53369',
 '370470',
 '703435',
 '316600',
 '46284',
 '530279',
 '371829',
 '243178',
 '131310',
 '360825',
 '109926',
 '185174',
 '592826',
 '21125',
 '580326',
 '277034',
 '611737',
 '346619',
 '495557',
 '485957',
 '238699',
 '375431',
 '158153',
 '205247',
 '688951',
 '409058',
 '574944',
 '254865',
 '197064',
 '333408',
 '10961',
 '414940',
 '87504',
 '671830',
 '522825',
 '116114',
 '445170',
 '553166',
 '456665',
 '443130',
 '502078',
 '413314',
 '11924',
 '641599',
 '31344',
 '707724',
 '234462',
 '310151',
 '420396',
 '593128',
 '565629',
 '300553',
 '355939',
 '566257',
 '202185',
 '489432',
 '464821',
 '202564',
 '43627',
 '609835',
 '104450',
 '639289',
 '346967',
 '620528',
 '679436',
 '616270',
 '571016',
 '219225',
 '653733',
 '321933',
 '108458',
 '55791',
 '590379',
 '481669',
 '346913',
 '389296',
 '358186',
 '112008',
 '261659',
 '518484',
 '151183',
 '259795',
 '116250',
 '25012',
 '320530',
 '222763',
 '44603',
 '562575',
 '430106',
 '402583',
 '484926',
 '683520',
 '418694',
 '289625',
 '212654',
 '311',
 '368753',
 '124485',
 '92547',
 '571790',
 '620754',
 '24016',
 '42610',
 '150714',
 '635759',
 '311834',
 '9033',
 '43701',
 '92254',
 '235900',
 '457500',
 '133190',
 '233641',
 '448682',
 '515964',
 '387621',
 '156278',
 '281936',
 '357489',
 '347585',
 '114119',
 '585388',
 '115808',
 '493804',
 '621152',
 '567991',
 '610891',
 '34548',
 '648635',
 '324208',
 '259163',
 '70549',
 '205757',
 '243099',
 '266761',
 '471691',
 '117470',
 '532347',
 '384663',
 '347303',
 '396233',
 '508593',
 '305045',
 '131295',
 '23359',
 '96310',
 '164508',
 '524956',
 '595181',
 '429530',
 '211437',
 '342798',
 '395438',
 '292825',
 '170488',
 '535399',
 '52192',
 '578474',
 '318530',
 '139129',
 '286273',
 '284984',
 '292577',
 '671154',
 '419993',
 '232305',
 '217365',
 '26797',
 '413189',
 '547940',
 '63976',
 '584779',
 '608386',
 '655756',
 '307896',
 '335416',
 '117518',
 '221986',
 '679405',
 '78180',
 '76591',
 '382378',
 '525152',
 '196849',
 '704609',
 '80103',
 '489337',
 '173681',
 '279590',
 '147228',
 '283780',
 '578760',
 '166761',
 '29793',
 '425758',
 '357510',
 '325609',
 '468494',
 '108003',
 '420672',
 '553437',
 '383011',
 '643498',
 '364111',
 '171798',
 '62263',
 '697100',
 '565388',
 '287003',
 '138031',
 '501713',
 '26590',
 '345004',
 '389468',
 '144856',
 '219025',
 '135925',
 '224568',
 '373037',
 '475599',
 '370796',
 '346897',
 '300944',
 '52904',
 '106990',
 '258126',
 '707621',
 '112153',
 '319861',
 '633203',
 '431902',
 '249594',
 '360197',
 '610551',
 '423503',
 '407044',
 '319820',
 '8763',
 '425043',
 '116847',
 '95059',
 '541682',
 '58773',
 '651723',
 '663109',
 '498452',
 '692878',
 '332442',
 '533739',
 '625933',
 '407579',
 '403481',
 '31529',
 '61159',
 '204866',
 '61595',
 '395389',
 '226156',
 '99287',
 '195416',
 '220139',
 '126656',
 '188215',
 '157861',
 '209782',
 '92045',
 '165281',
 '35703',
 '93143',
 '234999',
 '283138',
 '692481',
 '484234',
 '516906',
 '149025',
 '70185',
 '593084',
 '701801',
 '707564',
 '677144',
 '231078',
 '580659',
 '601589',
 '542554',
 '344910',
 '273170',
 '550600',
 '451946',
 '511710',
 '570836',
 '269370',
 '5049',
 '340253',
 '381056',
 '393107',
 '622615',
 '361510',
 '476680',
 '445984',
 '470129',
 '46911',
 '67741',
 '476773',
 '572238',
 '392638',
 '475956',
 '284554',
 '176292',
 '72222',
 '30712',
 '397412',
 '266934',
 '417368',
 '626654',
 '11777',
 '541219',
 '397409',
 '390610',
 '603633',
 '517472',
 '130110',
 '264842',
 '118219',
 '29842',
 '642526',
 '447666',
 '509169',
 '109190',
 '549966',
 '89620',
 '681490',
 '257434',
 '534093',
 '228501',
 '323611',
 '341760',
 '64361',
 '697364',
 '125822',
 '451489',
 '453652',
 '200877',
 '336475',
 '563111',
 '61771',
 '555344',
 '199134',
 '37691',
 '675797',
 '623700',
 '594116',
 '386455',
 '15958',
 '379112',
 '221851',
 '485640',
 '660937',
 '547427',
 '180023',
 '643315',
 '113664',
 '88471',
 '276418',
 '43471',
 '470684',
 '325455',
 '447548',
 '74403',
 '482423',
 '707573',
 '275121',
 '621690',
 '120291',
 '259931',
 '551757',
 '578240',
 '693110',
 '586464',
 '696317',
 '282045',
 '644261',
 '170206',
 '148992',
 '565826',
 '119210',
 '492678',
 '11093',
 '473639',
 '689127',
 '273586',
 '630629',
 '378434',
 '38832',
 '448698',
 '423649',
 '225297',
 '369922',
 '536584',
 '643070',
 '479729',
 '273837',
 '499968',
 '455945',
 '311995',
 '53849',
 '666130',
 '241481',
 '402779',
 '338622',
 '616212',
 '119795',
 '675593',
 '535483',
 '498587',
 '58836',
 '204547',
 '675874',
 '321724',
 '87434',
 '367534',
 '174701',
 '547449',
 '130275',
 '565154',
 '310974',
 '479284',
 '482512',
 '552707',
 '85040',
 '521073',
 '255937',
 '315613',
 '424531',
 '102980',
 '660013',
 '521414',
 '112542',
 '588063',
 '284814',
 '91246',
 '439301',
 '548896',
 '409613',
 '284913',
 '371691',
 '237808',
 '54408',
 '284992',
 '662086',
 '400157',
 '512750',
 '543751',
 '380564',
 '153807',
 '65053',
 '267452',
 '554287',
 '446180',
 '501003',
 '651332',
 '454890',
 '309245',
 '473256',
 '233166',
 '683227',
 '482846',
 '103592',
 '62736',
 '377355',
 '492364',
 '576478',
 '495821',
 '173912',
 '621927',
 '411161',
 '538595',
 '8742',
 '15341',
 '473560',
 '336013',
 '25885',
 '617900',
 '701323',
 '486768',
 '290776',
 '103189',
 '96564',
 '260107',
 '48948',
 '497546',
 '96289',
 '656426',
 '466529',
 '444706',
 '244565',
 '286289',
 '563956',
 '477100',
 '356306',
 '402769',
 '430005',
 '471741',
 '629217',
 '392397',
 '567383',
 '648351',
 '222272',
 '688690',
 '291668',
 '221785',
 '2188',
 '438424',
 '618541',
 '44570',
 '500114',
 '656512',
 '547386',
 '36623',
 '154649',
 '630152',
 '604859',
 '637303',
 '376821',
 '316305',
 '494024',
 '644520',
 '335520',
 '352313',
 '602629',
 '663564',
 '455141',
 '579728',
 '546793',
 '608260',
 '145222',
 '512098',
 '544625',
 '639051',
 '335757',
 '468797',
 '525203',
 '347950',
 '511508',
 '138586',
 '274165',
 '264162',
 '304205',
 '126171',
 '370203',
 '344931',
 '654764',
 '37969',
 '335466',
 '260612',
 '140130',
 '672319',
 '626700',
 '77017',
 '703403',
 '463948',
 '556394',
 '682550',
 '95928',
 '572801',
 '268506',
 '77781',
 '374513',
 '228516',
 '175418',
 '257277',
 '142452',
 '540082',
 '384299',
 '311790',
 '26254',
 '53061',
 '45903',
 '388635',
 '305761',
 '542045',
 '409989',
 '691847',
 '384786',
 '661213',
 '406498',
 '553786',
 '61432',
 '447803',
 '551030',
 '534517',
 '474483',
 '649432',
 '205312',
 '161768',
 '65672',
 '443902',
 '150446',
 '531574',
 '294720',
 '354659',
 '682446',
 '237477',
 '414561',
 '664793',
 '260730',
 '231320',
 '279922',
 '305183',
 '511804',
 '446106',
 '316497',
 '541866',
 '285895',
 '539090',
 '185513',
 '77509',
 '8749',
 '667123',
 '257119',
 '103192',
 '598820',
 '256899',
 '1546',
 '614325',
 '457943',
 '689725',
 '44220',
 '188486',
 '489908',
 '638927',
 '620800',
 '609247',
 '528414',
 '254236',
 '651374',
 '406831',
 '259368',
 '160046',
 '589292',
 '501764',
 '24553',
 '196697',
 '592295',
 '168031',
 '566833',
 '214584',
 '145723',
 '37965',
 '476458',
 '660381',
 '429377',
 '538777',
 '369649',
 '614707',
 '337267',
 '256956',
 '615644',
 '545585',
 '353753',
 '683053',
 '659496',
 '447424',
 '671194',
 '106017',
 '465778',
 '586556',
 '231481',
 '228821',
 '293876',
 '683564',
 '243098',
 '553894',
 '239518',
 '248226',
 '132117',
 '315273',
 '208812',
 '182201',
 '487639',
 '190102',
 '413823',
 '198610',
 '436057',
 '208186',
 '224643',
 '346058',
 '118223',
 '669693',
 '32570',
 '123465',
 '51373',
 '664191',
 '450302',
 '535146',
 '480737',
 '538860',
 '516237',
 '6855',
 '673796',
 '48725',
 '704380',
 '613740',
 '304758',
 '127968',
 '474475',
 ...]

In [ ]:
print(word2vec_model.wv.vectors)

[[-1.675062    0.29435697  0.15531555 ...  0.15387721  0.16190904
  -0.1390345 ]
 [-0.7300889   0.22656605  0.28530613 ... -0.1605961   0.47039434
  -0.20198052]
 [-1.2653527   0.2355021   0.25877336 ...  0.65733117 -0.00456446
  -0.04793942]
 ...
 [-0.4876967   0.1465923  -0.0323902  ...  0.10073756 -0.02086994
   0.2899823 ]
 [-0.21850237 -0.06117351 -0.10755641 ...  0.2918557  -0.36883327
   0.1930623 ]
 [-0.27117017 -0.03411943 -0.07625774 ...  0.2847018  -0.24292426
   0.22146711]]

In [ ]:
print(word2vec_model.wv.get_vector('525514'))
print(word2vec_model.wv.get_vector('525514').shape)

[-0.49690118  0.25133952 -0.12914127  0.0044658  -0.11688963  0.23875879
 -0.09881033  0.2603805   0.23897615  0.3911761  -0.25614554 -0.00507821
  0.184038    0.33268264  0.03231251 -0.10116316 -0.42822382  0.17226213
 -0.1868573  -0.29243875 -0.00754445  0.06395204  0.19149014  0.25084427
 -0.25376937 -0.2135881   0.07403006 -0.3757222   0.05993817 -0.18741855
 -0.47689417 -0.38101202 -0.09386084  0.20336664 -0.1641105  -0.30429983
 -0.37447116 -0.06052824 -0.37973145 -0.3147568   0.15087405 -0.4590859
 -0.05336356  0.39347997  0.01780573  0.339673    0.11926647  0.31587738
 -0.10327108 -0.3776921   0.05074872 -0.10243991  0.02377661 -0.11556016
  0.13287684  0.24699497 -0.09643709 -0.3003269   0.21857013 -0.09514224
  0.3502487   0.02368316  0.13301484  0.19556893 -0.17118378 -0.16606659
 -0.30381218  0.05457247  0.18527369  0.33542663 -0.0607563  -0.10819285
 -0.2802867  -0.0395454   0.14500777  0.08046595 -0.08145861  0.14821629
  0.19186227 -0.18602526  0.13288139  0.23218371 -0.07629181  0.02607639
  0.03543232  0.0301687  -0.05842646 -0.19095822  0.2653083  -0.03924584
  0.13708322  0.0182507  -0.2024635   0.0451622  -0.3222235  -0.09132269
  0.21907414 -0.10036946 -0.2677211   0.38339716]
(100,)

In [ ]:
word2vec_model.most_similar('144663')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated `most_similar` (Method will be removed in 4.0.0, use self.wv.most_similar() instead).
  """Entry point for launching an IPython kernel.

[('140920', 0.7774264812469482),
 ('185174', 0.7749124765396118),
 ('532347', 0.7601560950279236),
 ('576250', 0.7523713111877441),
 ('501822', 0.7523168325424194),
 ('648635', 0.7490791082382202),
 ('334539', 0.7465586066246033),
 ('351888', 0.7396000623703003),
 ('484926', 0.7387739419937134),
 ('19677', 0.7252946496009827)]

In [ ]:
song_meta = pd.read_json('arena_data/song_meta.json', encoding='utf-8')

In [ ]:
query_id ='83116'
song_meta[song_meta.index == int(query_id)]

      song_gn_dtl_gnr_basket  issue_date  ... artist_name_basket     id
83116       [GN0401, GN0403]    20081029  ...            [소울라이츠]  83116

[1 rows x 9 columns]

In [ ]:
similar_ids = [int(song_id) for song_id, prob in word2vec_model.wv.most_similar(query_id)]
song_meta.loc[similar_ids]

                          song_gn_dtl_gnr_basket  ...      id
276692                          [GN0401, GN0403]  ...  276692
141624  [GN0508, GN0501, GN0601, GN0503, GN0605]  ...  141624
114818                                  [GN0301]  ...  114818
340482  [GN0508, GN0501, GN0601, GN0503, GN0605]  ...  340482
208004                          [GN0401, GN0403]  ...  208004
480254                          [GN0601, GN0605]  ...  480254
658137                          [GN0804, GN0801]  ...  658137
603793  [GN0508, GN0501, GN0601, GN0503, GN0605]  ...  603793
336525                          [GN0401, GN0403]  ...  336525
584944                  [GN0401, GN0403, GN0402]  ...  584944

[10 rows x 9 columns]

In [ ]:
word2vec_model.save("song2vec.model")
print(word2vec_model)

Word2Vec(vocab=144674, size=100, alpha=0.025)

/usr/local/lib/python3.6/dist-packages/smart_open/smart_open_lib.py:253: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL